body {
    background-image: url("./img/island.jpg");
    background-size: cover;
    padding:0;
    margin:0;
}
.logo {
    justify-self: start;
    align-self: center;
    margin-left: 10px;
}
.logo:hover {
    cursor: pointer;
}
.logo img {
    border-radius: 50%;
    height: 80px;
    width: auto;
    border: 3px solid #fff;
}
.movement {
    animation: moveAndBack 2s ease-in-out 2 alternate;
}
@keyframes moveAndBack {
    0% {
        transform: translateX(0) rotate(0deg)
    }
    100% {
        transform: translateX(calc(100cqw / 3)) rotate(360deg);
    }
    
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu_items {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: #ff0000;
    padding: 5px 10px;
}
.menu_items::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #640000;
    transition: width .4s linear;
}
.menu_items:hover::after {
    width: 100%;
}
.menu_items:hover {
    cursor: pointer;
}
h1 {
    color: #f10707;
    font-size: 74px;
    margin: 190px 170px 20px 160px;
    background: #7dce13;
    padding: 30px;
    border-radius: 50%;
    width: 400px; 
    transform:rotate(10deg)  
}
h1:hover {
    color: #3403e7;
}
.cont {
    display: flex;
    justify-content: center; /* вирівнювання краще до контейнера ставити ставити, а не до контенту */
}
p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    /* width: 85%;  так краще теж не робити, краще зробити головну обгортку, де буде основний контент і їй задати розміри*/
    /* margin-left: 50%;
    transform: translateX(-50%); */
}
.main_wrapper {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
}
a {
    text-decoration: none;
    
}
.btn {
    color: #370aec;
    background: #e9ec05;
    padding: 30px;
    font-size: 20px;
}
.btn-cont {
    display:flex;
    gap: 25px;
    justify-content: center;
}
h2 {
    position: absolute;
    display:flex;
    gap: 25px;
    justify-content: center;
    padding: 30px;
    background: #1aaa51;
    font-size: 25px;
    width: 25%;
    margin-left: 51%;
    transform: translateX(-50%);
    box-shadow: 10px 15px 40px 25px rgba(230, 4, 196, 0.7);
}
.btn-cont0 {
    left: 50%;
    transform: translateX(-50%); 
    position: absolute; 
     
}
.btn-cont0 ol {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center; 
       
}
.btn-cont0 a {
    color: #02ff02;
    font-size: 20px;
}
.btn-cont0 ol > li {
    padding: 15px;
    background: #e8f404;
}
header {
    background: #e9ec05;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
}
.footer {
    
}
